*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    font-weight: normal;
    margin: 0px;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-image: url('../components/Images/reactimg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
//     font-weight: normal;

//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-rendering: optimizeLegibility;
//     -webkit-tap-highlight-color: transparent;
 }

#login{
   position: fixed;
   top: 55%;
   left: 50%;
   width: 100px;
   height: 300px;
   margin-top: -50px;
   margin-left: -50px;
}

#loginParent{
    text-align: center;
    margin: 0 auto; 
    
    top: 35%;
    width: 600px;
    height: 400px;
    background-color: white;
}

#loginChild{
    display: inline-block;
}

#regParent{
    text-align: center;
    margin: 0 auto; 
    
    top: 35%;
    width: 600px;
    height: 400px;
    background-color: white;
}

#regChild{
    display: inline-block;
}

.cardButtons{
    display: inline-block;
}

.cardButtonParentDiv{
    margin: 0 auto; 
    text-align: center;
}

.login-form-input{
   width: 300px;
}

.modal-login{
    display: block; 
    width: 1400px; 
}

.searchParent {
    text-align: center;
    margin: 0 auto; 
}
.searchChild{
    display: inline-block;
}

